In [1]:
# Basic Vector Operations in a R

In [2]:
#1.  c()  function 
#It is used create a sequence of vectors

In [3]:
a <- c(1, 2, 4, 6)

In [4]:
a

[1] 1 2 4 6

In [5]:
class(a)

[1] "numeric"

In [9]:
b <- (1:3)   # sequencing is occuring here

In [10]:
b

[1] 1 2 3

In [11]:
class(b)

[1] "integer"

In [15]:
c <- (5:-2)
c

[1]  5  4  3  2  1  0 -1 -2

In [16]:
# seq() function,  It has two diffent parameters. 1. by  2. lenght.out

In [17]:
a <-seq(1,5, by = 0.2)  # inital value = 1, last value = 5, step size = 0.2

In [18]:
a

 [1] 1.0 1.2 1.4 1.6 1.8 2.0 2.2 2.4 2.6 2.8 3.0 3.2 3.4 3.6 3.8 4.0 4.2 4.4 4.6
[20] 4.8 5.0

In [21]:
b <- seq(1, 5, lenght.out = )

Warning message:
"In seq.default(1, 5, lenght.out = 3) :
 extra argument 'lenght.out' will be disregarded"

[1] 1 2 3 4 5

In [23]:
a1 <-seq(1,50, by = 5)

In [24]:
a1

 [1]  1  6 11 16 21 26 31 36 41 46

In [26]:
# Create a Function in R
# use syntax function(){}

In [ ]:
fn_number